<h1>{{title}}</h1>

<article>

<h2>障害者を対象としたサービス</h2>
<p>自立支援給付と地域生活支援事業で構成</p>

<h3>介護給付</h3>
<ol>
<li>居宅介護(ホームヘルプ)：自宅で、入浴、排せつ、食事の介護等を行う</li>
<li>重度訪問介護：重度の肢体不自由者又は重度の知的障害若しくは精神障害により、<br/>
行動上著しい困難を有する人で<span style="border-bottom:solid 2px red;">常に介護を必要とする人</span>に、<br/>
自宅で、入浴、排せつ、食事の介護、外出時における移動支援などを総合的に行う。</li>
<li>同行支援：視覚障害により、移動に著しい困難を有する人に、移動に必要な情報の提供（代筆・
代読を含む）、移動の援護等の外出支援を行う。</li>
<li>行動支援：自己判断能力が制限されている人が行動するときに、危険を回避するために必要な支
援や外出支援を行う。</li>
<li>重度障碍者等包括支援：介護の必要性がとても高い人に、居宅介護等複数のサービスを包括的に行う。</li>
<li>短期入所(ショートステイ)：自宅で介護する人が病気の場合などに、短期間、夜間も含め施設で、<br/>
入浴、排せつ、食事の介護等を行う。</li>
<li>療養介護：医療と常時介護を必要とする人に、医療機関で機能訓練、療養上の管理、看護、介護
及び日常生活の支援を行う。</li>
<li>生活介護：常に介護を必要とする人に、昼間、入浴、排せつ、食事の介護等を行うとともに、<br/>
創作的活動又は生産活動の機会を提供する。</li>
<li>障害者支援施設での夜間ケア等(施設入所支援)：施設に入所する人に、夜間や休日、入浴、排せつ、食事の介護等を行う。</li>
</ol>
<h3>訓練等給付</h3>
<ol>
<li>自立訓練：自立した日常生活又は社会生活ができるよう、一定期間、身体機能又は生活能力の向上のために必要な訓練を行う。<br/>
機能訓練と生活訓練がある。</li>
<li>就労移行支援：一般企業等への就労を希望する人に、一定期間、就労に必要な知識及び能力の向上
のために必要な訓練を行う。</li>
<li>就労継続支援(A型=雇用型、B型=非雇用型)：一般企業等での就労が困難な人に、働く場を提供するとともに、<br/>
  知識及び能力の向上のために必要な訓練を行う。<br/>
雇用契約を結ぶＡ型と、雇用契約を結ばないＢ型があります。</li>
<li>共同生活援助(グループホーム)：共同生活を行う住居で、相談や日常生活上の援助を行う。<br/>
  また、入浴、排せつ、食事の介護等の必要性が認定されている方には介護サービスも提供する。<br/>
さらに、グループホームを退居し、一般住宅等への移行を目指す人のためにサテライト型住居がある。※<br/>
＊平成26年4月1日から共同生活介護（ケアホーム）はグループホームに一元化されました。</li>
</ol>
<h3>地域生活支援事業</h3>
<ol>
  <li>移動支援：円滑に外出できるよう、移動を支援する。</li>
  <li>地域活動支援センター：創作的活動又は生産活動の機会の提供、社会との交流等を行う施設。</li>
  <li>福祉ホーム：住居を必要としている人に、低額な料金で、居室等を提供するとともに、
日常生活に必要な支援を行う。</li>
  </ol>
  <h4>■日中活動と住まいの場の組み合わせ</h4>
  <p>入所施設のサービスを、昼のサービス（日中活動事業）と夜のサービス（居住支援事業）に分けることによ
り、サービスの組み合わせを選択できる。<br/>
利用者一人ひとりの個別支援計画を作成して、利用目的にかなったサービスが提供される。</p>

<h2>障害児を対象としたサービス</h2>
<h3>■「児童福祉法」による障害児を対象としたサービスの概要</h3>
<ul>
  <li>障害児施設：通所による支援、入所による支援の2つに大別されている</li>
  <li>居宅サービスと通所サービスの一体的利用：居宅サービスと通所サービスが一体的に利用できる</li>
　<li>放課後等デイサービス、保育所等訪問支援：学齢児を対象とした放課後支援充実・障害があっても保育所等の利用ができるよう訪問サービス創設</li>
　<li>在園期間の延長措置の見直し：18歳以上の障害児施設入所者には障害者総合支援法に基づく障害福祉サービスが提供される。<br/>なお、現に入所している方が退所させられないよう配慮</li>
</ul>

<h3>市町村・都道府県における障害児を対象としたサービス</h3>
<table class="table table-bordered">
  <caption>市町村</caption>
<tr>
  <th rowspan="4" class="table-success">
    障害児通所支援
  </th>
  <td class="table-success">
    児童発達支援
  </td>
  <td rowspan="2">
    様々な障害があっても身近な地域で適切な支援が受けられる。<br/>
    ①児童発達支援センター／医療型児童発達支援センター<br/>
    通所支援のほか、身近な地域の障害児支援の拠点として、「地域で生活
    する障害児や家族への支援」、<br/>「地域の障害児を預かる施設に対する支
    援」を実施するなどの地域支援を実施。<br/>医療の提供の有無によ
    って、「児童発達支援センター」と「医療型児童発達支援センター」に
    分かれる。<br/>
    ②児童発達支援事業<br/>
    通所利用の未就学の障害児に対する支援を行う身近な療育の場。
  </td>
</tr>
<tr>
  <td class="table-success">
    医療型児童発達支援
  </td>
</tr>
<tr>
  <td class="table-success">
    放課後デイサービス
  </td>
  <td>
    学校就学中の障害児に対して、放課後や夏休み等の長期休暇中において、<br/>
    生活能力向上のための訓練等を継続的に提供。<br/>
    学校教育と相まって障害児の自立を促進するとともに、放課後等の居場所
    づくりを推進。
  </td>
</tr>
<tr>
  <td class="table-success">
    保育所等訪問支援
  </td>
  <td>保育所等を現在利用中の障害児、今後利用する予定の障害児に対して、訪問により、
    <br/>保育所等における集団生活の適応のための専門的な支援を提供し、保育所等の安定した利用を促進。</td>
</tr>
</table>
<table class="table table-bordered">
  <caption>都道府県</caption>
  <tr>
  <th rowspan="2" class="table-success">
    障害児入所支援
  </th>
  <td class="table-success">福祉型障害児入所施設</td>
  <td rowspan="2">従来の障害種別の施設と同等の支援を確保するとともに、<br/>
主たる対象とする障害以外の障害を受け入れた場合に、<br/>
その障害に応じた適切な支援を提供します。<br/>
また、医療型は、このほか医療も提供します。<br/>
18歳以上の障害児施設入所者には、自立（地域生活への移行等）を目指した支援を提供します。</td>
  </tr>
  <tr>
    <td class="table-success">医療型障害児入所施設</td>
  </tr>
</table>

<h2>相談支援</h2>
</article>
