
    <h1>{{title}}</h1>


<article>
<h2>介護保険制度制定の経緯</h2>
  <ul>
    <li>高齢化が深刻化(1960年から2000年の40年間で12%増加)</li>
    <li>従来の老人福祉・老人医療制度による対応には限界…</li>
　　<li>介護する家族の高齢化…</li>
  </ul>
  <p>→高齢者の介護を社会全体で支えあう仕組み(介護保険)を創設</p>

  <ol>
    <li>自立支援→介護だけでなく、高齢者の自立を支援</li>
    <li>利用者本位→多様な主体から保険医療サービス、福祉サービスを総合的に受けられる制度</li>
    <li>社会保険方式→給付と負担の関係が明確な社会保険方式の採用</li>
  </ol>

  <h2>介護保険制度の基本的な仕組み</h2>
  <p>・介護保険制度の被保険者(加入者)</p>
  <ol>
    <li>65歳以上(第1号被保険者)要支援・要介護状態になった時、
      制度を受けられる(保険料負担は市町村が徴収。
　    原則、年金から天引き)</li>
    <li>40～64歳までの医療保険加入者(第2号被保険者)末期がんや
        関節リウマチ等の老化による病気が原因で<br/>
　      要支援・要介護状態になった場合に限り、制度を受けられる
        (保険料は医療保険者が医療保険の保険料と一括徴収)</li>
  </ol>
  <p>・第1号被保険者の保険料</p>
  <ul>
    <li>市町村（保険者）は、介護保険給付費の約22%に相当する額を第１号被保険者に保険料として納めてもらう</li>
    <li>保険料はサービス基盤の整備の状況やサービス利用の見込みに応じて、保険者ごとに設定</li>
　　<li>低所得者等に配慮し、負担能力に応じた負担とするため、市町村民税の課税状況等に応じて、段階別に設定(標準は9段階)</li>
  </ul>
  <p>・第2号被保険者の保険料</p>
   <ul>
    <li>各医療保険者を通じて保険料を徴収</li>
    <li>全国ベースで第2号被保険者一人あたりの保険料額を計算し、これを各医療保険者が被保険者数に応じて納付</li>
  </ul>
  <p>できれば棒グラフはさむ</p>
  <p>要介護認定制度について</p>
  <ul>
    <li>要介護認定（要支援認定を含む)は、介護の必要量を全国一律の基準に基づき、<br/>
客観的に判定する仕組みであり、一次判定及び二次判定の結果に基づき、市町村が申請者について要介護認定を行う。</li>
　</ul>
<ol>
    <li>一次判定・・・ 市町村の認定調査員による心身の状況調査（認定調査）及び主治医意見書に基づくコン ピュータ判定を行う。</li>
    <li>二次判定・・・ 保健・医療・福祉の学識経験者により構成される介護認定審査会により、一次判定結果、主治医意見書等に基づき審査判定を行う</li>
  </ol>
  <p>・経費用等における提供サービスの内訳</p>
  <p>グラフ使って表示</p>
 <!-- <a routerLink="./Service" routerLinkActive="active">サービス一覧へ</a>-->

</article>
