<h1>{{title}}</h1>

<article>
<p>ADL：日常生活動作</p>
<br/>
<p>介護支援専門員(ケアマネジャー)：利用者の生活や介護に関する相談に応じるとともに、<br/>
　利用者がその心身の状況等に応じ適切なサービスを利用できるよう、<br/>
　市区町村、サービスを提供する事業所、施設などとの連絡調整等を行う人のこと</p>
<p>ケアプラン：利用者個々のニーズに合わせた介護保険制度内外の適切な保健・医療・福祉サービスが提供されるように、<br/>
　　ケアマネジャー（介護支援専門員）が、ケアマネジメントという手法を用い、<br/>
　利用者・家族と相談しながら作成するサービスの利用計画のこと。ケアプランは、</p>
         <ol>
           <li>利用者のニーズの把握</li>
           <li>援助目標の明確化</li>
           <li>具体的なサービスの種類と役割分担の決定</li>
         </ol>
         <p>
        といった段階を経て作成され、公的なサービスだけでなく
        インフォーマルな社会資源をも活用して作成される。</p>
<p>在宅サービスの支給限度額：要介護状態区分によって支給限度額が変わる</p>

<h3>平成29年(2017年)介護保険法改正について</h3>
<ol type="I">
  <li>地域包括ケアシステムの深化・推進</li>
  <ul>
    <li>自立支援・重度化防止に向けた保険者機能の強化等の取組の推進(介護保険法)</li>
    <li>医療・介護の連携の推進等(介護保険法、医療法)→新たな介護保険施設を創設(医学管理・看取り・ターミナル・生活支援機能合体)
      <br/>
      →介護医療病院：要介護者に対し、長期療養のための医療と日常生活上の世話(介護)を一体的に提供
    </li>
    <li>地域共生生活の実現に向けた取組の推進等(社会福祉法、介護保険法、障害者総合支援法、児童福祉法)<br/>
    →新たに共生型サービスを位置づけ→高齢者と障害児者が同一の事業所でサービスを受けやすくするため、介護保険と障害福祉両方の制度に新たに共生型サービスを位置付ける。
    </li>
  </ul>
  <li>介護保険制度の持続可能性の確保</li>
  <p>2割負担者のうち特に所得の高い層の負担割合を3割とする。ただし、月額44,400円の負担の上限あり。
(年金収入等が340万以上の人)</p>
</ol>
<p>ターミナルケア：終末期の医療・看護・介護。治癒の見込みがなく、死期が近づいた患者（利用者）に対し、<br/>
延命治療中心でなく、患者の人格を尊重したケア中心の包括的な援助を行うこと。<br/>
身体的苦痛や死に直面する恐怖を緩和し、残された人生をその人らしく生きられるよう援助を行う。
</p>
<p>地域包括ケアシステム：高齢者が住み慣れた地域でできる限り継続して生活を送れるように支えるために、<br/>
個々の高齢者の状況やその変化に応じて、介護サービスを中核に、医療サービスをはじめとするさまざまな支援（住まい、医療、介護、予防、生活支援）を、<br/>
継続的かつ包括的に提供する仕組みをいう。
</p>

<p>介護納付金における総報酬割の導入</p>
<ul>
  <li>第２号被保険者（40～64歳）の保険料は、介護納付金として医療保険者に賦課しており、<br/>
各医療保険者が加 入者である第２号被保険者の負担すべき費用を一括納付している。</li>
<li>各医療保険者は、介護納付金を、２号被保険者である『加入者数に応じて負担』しているが、<br/>
これを被用者保 険間では『報酬額に比例した負担』とする。（激変緩和の観点から段階的に導入）【平成29年8月分より実施】</li>
</ul>
</article>
