/* You can add global styles to this file, and also import other style files */
html, body{
    background-color:#f9f9f9;
    margin-top: 0px;
}

.gotfahter{
    background: url("gotmother.png") no-repeat left; 
}
.gotmother{
     background: url("gotmother.png") no-repeat left;
}

article{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#kaigo{
    background: url("kaigo.png") no-repeat center; 
}

#huro{
    background: url("huro.png") no-repeat center;
}

#kango{
    background: url("kango.png") no-repeat center;
}